.header-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px 20px;
  margin: 20px 0;
  .profile-content {
    display: flex;
    align-items: center;
    .create-btn {
      background-color: #7367f0;
      color: #ffffff;
      width: 50px;
      height: 30px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-right: 10px;
    }
    > li {
      list-style: none;
      border-left: solid 1px gray;
      > a {
        > img {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}
