.sidebar {
  #accordionSidebar {
    > a {
      .rotate-n-15 {
        color: #7367f0;
      }
      .mx-3 {
        color: #7367f0;
      }
    }
    .sidebar-divider {
      border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
    > li {
      > a {
        > i {
          color: black;
        }
        > span {
          color: black;
        }
      }
    }
    .sidebar-heading {
      color: black;
    }
    .d-md-inline {
      > button {
        color: white;
        background-color: #7367f0;
      }
    }
  }
}
